<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="/" class="navbar-brand">
       Etransport
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="/coffee" class="nav-item nav-link">Coffee</a>
            <a href="/flowers" class="nav-item nav-link">Flowers</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a href="/courier" class="nav-item nav-link btn btn-warning">Courier info</a>
        </div>
    </div>
</nav>